* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.wrapper {
  position: relative;
  background-image: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 20.2%), url("../img/background.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.tree {
  position: relative;
  bottom: -35%;
  left: 25%;
}

.tree-img img {
  -webkit-animation: animate 5s;
          animation: animate 5s;
}

@-webkit-keyframes animate {
  0% {
    transform: rotate(2deg);
  }
  5% {
    transform: rotate(-2deg);
  }
  10% {
    transform: rotate(2deg);
  }
  15% {
    transform: rotate(-2deg);
  }
  20% {
    transform: rotate(2deg);
  }
  25% {
    transform: rotate(-2deg);
  }
  26% {
    transform: rotate(1deg);
  }
  35% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(0);
  }
}

@keyframes animate {
  0% {
    transform: rotate(2deg);
  }
  5% {
    transform: rotate(-2deg);
  }
  10% {
    transform: rotate(2deg);
  }
  15% {
    transform: rotate(-2deg);
  }
  20% {
    transform: rotate(2deg);
  }
  25% {
    transform: rotate(-2deg);
  }
  26% {
    transform: rotate(1deg);
  }
  35% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(0);
  }
}
.santa {
  position: absolute;
  width: 400px;
  height: 200px;
  transform: rotate(-40deg);
  top: 50%;
  left: -100%;
  -webkit-animation: animate-santa 5s;
          animation: animate-santa 5s;
  z-index: -1;
}
.santa img {
  width: 100%;
}

@-webkit-keyframes animate-santa {
  50% {
    top: 10%;
    left: 40%;
  }
  51% {
    transform: rotate(5deg);
  }
  70% {
    transform: rotate(20deg);
  }
  90% {
    top: 40%;
  }
  100% {
    left: 100%;
    transform: rotate(25deg);
  }
}

@keyframes animate-santa {
  50% {
    top: 10%;
    left: 40%;
  }
  51% {
    transform: rotate(5deg);
  }
  70% {
    transform: rotate(20deg);
  }
  90% {
    top: 40%;
  }
  100% {
    left: 100%;
    transform: rotate(25deg);
  }
}
.box {
  position: absolute;
  bottom: 10%;
}
.box img {
  width: 100px;
}
.box img:first-child {
  position: absolute;
}